@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway-regular.ttf") format("truetype");
}
