@import "variables"; //пишем переменные
@import "mixins"; //пишем миксины
@import "reset"; //сборс стилей
@import "fonts"; //подключаем шрифты (локально)

body {
    background-image: url("../img/bg.jpg");
    background-size: 50px;
    font-family: "Raleway";
    color: #fafafa;
    overflow-x: hidden;
}

.container {
    padding: 7vw;
}

.main-title {
    font-size: calc(var(--index) * 8);
    line-height: 0.9;
    width: min-content;

    @include media-breakpoint-down(sm) {
        font-size: calc(var(--index) * 6);
    }
}
.content,
.hero,
.hero__content,
.gallery > * {
    will-change: transform;
}
@import "blocks/hero";
@import "blocks/portfolio";
