@import "variables"; //пишем переменные
@import "mixins"; //пишем миксины
@import "reset"; //сборс стилей
@import "fonts"; //подключаем шрифты (локально)

@import "blocks/hero";

body {
    background-image: url("../img/bg.jpg");
    background-size: 50px;
    font-family: "Raleway";
    color: #fafafa;
    overflow-x: hidden;
}

.container {
    padding: 7vw;
}

.main-title {
    font-size: calc(var(--index) * 8);
    line-height: 0.9;
    position: absolute;
    bottom: 12svh;
    width: min-content;
}
