@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$grid-breakpoints: (
  start: 0,
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px
);


@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    width: 2px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000;
  }
}